@{
    ViewBag.Title = "Retorno Boletos";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section scripts{
    @Scripts.Render("~/bundles/retornoCNAB")
    @Scripts.Render("~/bundles/tituloFK")
    @Scripts.Render("~/bundles/alunoFK")
    @Scripts.Render("~/bundles/pessoaFK")
    @Scripts.Render("~/bundles/cadBaixaTituloPartial")
    @Scripts.Render("~/bundles/baixaFinanceiraAux")
    <link href="~/Content/themes/base/dojo1.8.5r/dojox/form/resources/CheckedMultiSelect.css" rel="stylesheet" />
}
@section scriptsBody{
       <script type="text/javascript">
           //**** Requerires para a Tabulação ****\\
           document.getElementById("labelTitulos").innerHTML = "Retorno Boletos";
        require([
            "dojo/NodeList-traverse",
            "dojo/_base/event",
            "dojox/validate/web",
            "dojox/validate/check",
            "dijit/form/NumberTextBox",
            "dijit/form/ValidationTextBox",
            "dijit/form/Form",
            "dojox/form/Manager",
            "dijit/Tooltip",
            "dijit/form/TimeTextBox"
        ]);
        montarCadastroRetornoCnab();
        montaCadastroBaixaFinanceira(null, '@Permissoes');

    </script>
}

<input type="hidden" id="link" value="" />
<input type="hidden" id="linkTitulosRetornoCnab" value="" />
<div class="apresentadorMsg" id="apresentadorMensagem" style="display:none;"></div>
<script type="text/javascript">
    showCarregando();
</script>
<div>
    <div class="EspacoCaixa caixaPesquisa">
        <table class="Table">
            <tr>
                <td style="width: 95%;">
                    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Pesquisa'" id="panePesqGeral" open="true">

                        <table class="Table">
                            <tr>
                                <td class="tdRight" style="width: 5%">
                                    <label for="pesqCarteira" class="AlinhaDireita">Carteira:</label>
                                </td>
                                <td style="width: 30%" class="dojoTextBoxIECorrect">
                                    <input id="pesqCarteira" name="pesqCarteira" data-dojo-type="dijit/form/FilteringSelect" required="false" style="width: 100%;" />
                                </td>
                                <td class="tdRight" style="width: 5%">
                                    <label for="pesqUsuario" class="AlinhaDireita">Usuário:</label>
                                </td>
                                <td style="width: 15%" class="dojoTextBoxIECorrect">
                                    <input id="pesqUsuario" name="pesqUsuario" data-dojo-type="dijit/form/FilteringSelect" required="false" style="width: 100%;" />
                                </td>
                                <td class="tdRight nowrap" style="width: 5%;">
                                    <label for="retornoPesq">Retorno: </label>
                                </td>
                                <td style="width: 25%" class="dojoTextBoxIECorrect">
                                    <input id="retornoPesq" name="retornoPesq" type="text" data-dojo-type="dijit/form/TextBox" style="width: 100%;" />
                                </td>
                            </tr>
                            <tr>
                                <td class="tdRight nowrap" style="width: 5%;">
                                    <label for="pesqStatus">Status: </label>
                                </td>
                                <td style="width: 20%" class="dojoTextBoxIECorrect">
                                    <input id="pesqStatus" name="pesqStatus" class="alignDojoData" style="width: 40%;" />
                                </td>
                                <td class="tdRight" style="width: 9%;">
                                    <label for="pesNossoNumero">Nosso Número:</label>
                                </td>
                                <td style="width: 10%;" class="dojoTextBoxIECorrect nowrap">
                                    <input type="text" id="pesNossoNumero" name="pesNossoNumero" style="width: 100%;" data-dojo-type="dijit/form/TextBox" />
                                </td>
                            </tr>
                            <tr>
                               <td class="tdRight nowrap" style="width: 5%;">
                                    <label for="descAlunoFiltroFK">Aluno:</label>
                                </td>
                                <td  class="tdRight nowrap" style="width: 40%">
                                    <input id="cdAlunoFiltroFKCnab" type="hidden" />
                                    <input id="selecionaAlunoFiltroFKCnab" type="hidden" value="0" />
                                    <table class="Table">
                                        <tr>
                                            <td class="dojoTextBoxIECorrect" style="width: 86%;">
                                                <input id="descAlunoFiltroFKCnab" name="descAlunoFiltroFKCnab" size="125" style="width: 100%;"  data-dojo-type="dijit/form/TextBox" disabled="disabled" />
                                            </td>
                                            <td style="width: 14%; text-align: right" class="nowrap">
                                                <input id="alunoFiltroFKCnab" style="min-width: 18px"/>
                                                <input type="text" id="limpaAlunoFiltroFKCnab" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="tdRight nowrap" style="width: 9%;">
                                    <label for="edResponsavelFiltro">Responsável:</label>
                                </td>
                                <td colspan="3" class="tdRight nowrap" style="width: 90%">
                                    <input id="cdResponsavelFiltroFKCnab" type="hidden" />
                                    <input id="selecionaRespFiltroFKCnab" type="hidden" value="0" />
                                    <table class="Table">
                                        <tr>
                                            <td class="dojoTextBoxIECorrect" style="width: 86%;">
                                                <input id="descResponsavelFiltroFKCnab" name="descResponsavelFiltroFKCnab" size="125" style="width: 100%;"  data-dojo-type="dijit/form/TextBox" disabled="disabled" />
                                            </td>
                                            <td style="width: 14%; text-align: right" class="nowrap">
                                                <input id="responsavelFiltroFKCnab" style="min-width: 18px"/>
                                                <input type="text" id="limpaResponsavelFiltroFKCnab" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Períodos de Cadastro'" id="panePeríodo" open="true">
                            <table class="Table">
                                <tr>
                                    <td class="tdRight" style="width: 10%">
                                        <label for="pesqDtaInicial">Data Inicial:</label>
                                    </td>
                                    <td style="width: 15%" class="dojoTextBoxIECorrect">
                                        <input type="text" id="pesqDtaInicial" name="pesqDtaInicial" onkeypress="mascaraDataHora(event, this)" data-dojo-type="dijit/form/DateTextBox" class="alignDojoData" style="width: 100%;" />
                                    </td>
                                    <td class="tdRight" style="width: 10%">
                                        <label for="pesqDtaFinal" class="AlinhaDireita">Data Final:</label>
                                    </td>
                                    <td style="width: 20%" class="dojoTextBoxIECorrect">
                                        <input type="text" id="pesqDtaFinal" name="pesqDtaFinal" onkeypress="mascaraDataHora(event, this)" data-dojo-type="dijit/form/DateTextBox" class="alignDojoData" style="width: 100%;" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
                <td style="width: 5%; text-align: center">
                    <input id="pesquisarCnabBoletos" title="Pesquisar" />
                </td>
            </tr>
        </table>
    </div>

    <div style="padding-top: 5px">
        <div class="linha_acoes" style="width: 100%"></div>
        <div>
            <table style="width: 100%">
                <tr style="width: 100%">
                    <td style="text-align: left; width: 25%">
                        <div class="linkAcoes" id="linkAcoesCnab"></div>
                    </td>
                    <td style="text-align: center; width: 50%;">
                        <input id="novoCnab" title="Novo" />
                        <input id="relatorioCnab" title="Relatório" />
                    </td>
                    <td style="text-align: right; width: 25%">
                        <span class="linkSelecionados" id="linkSelecionadosCnab"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="linha_acoes" style="width: 100%"></div>
    </div>

    <div data-dojo-type="dijit/layout/ContentPane" id="ContentGridCurso" style="padding-left: 0px; padding-right: 0px; padding-top: 0px;">
        <div class="gridCadBasic">
            <div id="gridRetornoCNAB"></div>
        </div>
    </div>
</div>

<input type="hidden" id="cd_retorno_cnab" value="0" />
<input type="hidden" id="setValuePermissoes" value="" />
<div id="cadRetornoCNAB" data-dojo-type="dijit.Dialog" title="Cadastro de Retorno CNAB" class="Dialogo" style="max-width: 850px;">
    <div class="sessao_form" style="margin-left: -10px;">
        <span id="counter_form">Sua sess&atilde;o expira em 59 min 59 seg</span>
    </div>
    <div id="corpoCad" class="corpo_interno" style="min-width: 820px;">
        <div class="apresentadorMsg" id="apresentadorMensagemRetornoCNAB" style="display: none;"></div>
        <div style="height: 490px; width: 100%;" class="scroll">
            <form data-dojo-type="dojox/form/Manager" id="formRetornoCNAB" enctype="multipart/form-data" class="Formulario">
                <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Principal'" id="titPrincipal" open="true">
                    <table class="Table">
                        <tr>
                            <td class="tdRight nowrap" style="width: 10%;">
                                <label for="cadLocal">Carteira: </label>
                            </td>
                            <td class="dojoTextBoxIECorrect" style="width: 50%;">
                                <input id="cadLocal" name="cadLocal" data-dojo-type="dijit/form/FilteringSelect" required="required"  style="width: 100%;" />
                            </td>
                            <td class="tdRight nowrap" style="width: 5%;">
                                <label for="cadStatus">Status: </label>
                            </td>
                            <td class="dojoTextBoxIECorrect" style="width: 25%">
                                <input id="cadStatus" name="cadStatus" data-dojo-type="dijit/form/FilteringSelect" required="required" disabled="true" style="width: 70%;" />
                            </td>
                        </tr>
                        <tr>
							<td class="Pesquisa tdRight nowrap" style="width:10%;">
								<label id="laRemessa" class="AlinhaDireita">Arquivo Retorno:</label>
							</td>
                            <td id="tdRemessa" style="width: 50%;">
                                <table class="Table">
                                    <tr>
                                        <td style="width: 90%">
                                            <input id="cadRemessa" name="cadRemessa" maxlength="128" style="width: 100%;" data-dojo-type="dijit/form/ValidationTextBox" required="required" readonly="true" />
                                        </td>
                                        <td id="tdBtnDown" style="width: 5%; padding-left: 5px">
                                                <input id="btnDown" name="btnDown" style="min-width: 18px;" />
                                        </td>
                                        <td id="tdUploader" style="width: 5%; padding-left: 5px">
                                                <input accept="image/jpg" class="browseButton" data-dojo-props='name:"uploadedfile", showLabel: false, multiple:false, force:"iframe",fileMask:["*.txt;*.ret;*.crt"],isDebug:true,iconClass:"dijitEditorIcon dijitEditorIconUpload" ' type="file" data-dojo-type="dojox/form/Uploader" id="uploader" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td colspan="2"></td>
						</tr>
						<tr>
							<td class="Pesquisa tdRight nowrap" style="width:10%;">
								<label class="AlinhaDireita">Linhas Retorno:</label>
							</td>
							<td style="width: 50%;" class="nowrap">
								<table style="width: 100%;">
									<tr>
										<td style="width: 70%;">
											<input id="cadLinhasRetorno" name="cadLinhasRetorno"  data-dojo-type="dijit/form/NumberTextBox" style="width: 60%;" disabled="disabled"/>
										</td>
										<td class="Pesquisa tdRight" style="width:10%;">
											<label class="AlinhaDireita" for="cadQtdTitulosRetorno">Títulos Retorno:</label>
										</td>
										<td style="width: 20%;" class="dojoTextBoxIECorrect">
											<input id="cadQtdTitulosRetorno" name="cadQtdTitulosRetorno" data-dojo-type="dijit/form/NumberTextBox" style="width: 100%;" disabled="disabled"/>
										</td>
									</tr>
								</table>
							</td>
                             <td colspan="2"></td>
						</tr>
                    </table>
                    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Filtros especiais para Aluno'" id="tFiltro" open="false">
                        <div class="EspacoCaixa caixaPesquisa">
                            <table>
                                <tr>
                                    <td class="tdRight nowrap" style="width: 10%">
                                        <label for="nroContratoCnab">Contrato:</label>
                                    </td>
                                    <td style="width: 90%;" class="dojoTextBoxIECorrect nowrap">
                                         <input type="text"
                                            id="nroContratoCnab"
                                            name="nroContratoCnab"
                                            value="0"
                                            data-dojo-type="dijit/form/NumberSpinner"
                                            data-dojo-props="smallDelta:1, constraints:{min:0,max:100,places:0,pattern:'000'}, style: 'width:150px'"
                                            required="false"
                                            maxlength="3" />
                                    </td>
                                    
                                    <td class="tdRight" style="width: 10%" rowspan="4" colspan="2">
                                        <input id="pesTituloCnab" title="Pesquisar" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdRight nowrap" style="width: 10%;">
                                        <label for="descAlunoFK">Aluno:</label>
                                    </td>
                                    <td colspan="3" class="tdRight nowrap" style="width: 90%">
                                        <input id="cdAlunoFKCnab" type="hidden" />
                                        <input id="selecionaAlunoFKCnab" type="hidden" value="0" />
                                        <table class="Table">
                                            <tr>
                                                <td class="dojoTextBoxIECorrect" style="width: 45%;">
                                                    <input id="descAlunoFKCnab" name="descAlunoFKCnab" size="125" style="width: 100%;"  data-dojo-type="dijit/form/TextBox" disabled="disabled" />
                                                </td>
                                                <td style="width: 14%; text-align: left" class="nowrap">
                                                    <input id="alunoFKCnab" style="min-width: 18px"/>
                                                    <input type="text" id="limpaAlunoFKCnab" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdRight nowrap" style="width: 10%;">
                                        <label for="edResponsavel">Responsável:</label>
                                    </td>
                                    <td colspan="3" class="tdRight nowrap" style="width: 90%">
                                        <input id="cdResponsavelFKCnab" type="hidden" />
                                        <input id="selecionaRespFKCnab" type="hidden" value="0" />
                                        <table class="Table">
                                            <tr>
                                                <td class="dojoTextBoxIECorrect" style="width: 45%;">
                                                    <input id="descResponsavelFKCnab" name="descResponsavelFKCnab" size="125" style="width: 100%;"  data-dojo-type="dijit/form/TextBox" disabled="disabled" />
                                                </td>
                                                <td style="width: 14%; text-align: left" class="nowrap">
                                                    <input id="responsavelFKCnab" style="min-width: 18px"/>
                                                    <input type="text" id="limpaResponsavelFKCnab" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Títulos'" id="tagTitulosCnab" open="true" style="padding-bottom:0px;">
                <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Botões de Ação'" id="tagBotaoAcao" open="true">
                    <div class="linha_acoes" style="width: 100%"></div>
                    <div>
                        <table style="width: 100%">
                            <tr style="width: 100%">
                                <td style="text-align: left; width: 25%">
                                    <div class="linkAcoes" id="linkAcoesTituloCnab"></div>
                                </td>
                                <td class="tdRight nowrap" style="width: 10%;">
                                    <label for="pessoa">Tipo Retorno:</label>
                                </td>
                                <td style="width: 45%;">
                                    <input id="pesqTipoRetonroCad" name="pesqTipoRetonroCad" data-dojo-type="dijit/form/FilteringSelect" required="false" style="width: 100%;" />
                                </td>
                                <td style="text-align: right; width: 25%">
                                    <span class="linkSelecionados" id="linkSelecionadosTituloCnab"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="linha_acoes" style="width: 100%"></div>
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" id="paiGridTitulosCnab" style="width: 100%; height: 375px; padding-left: 0px;padding-top:03px;">
                    <div id="gridTitulosRetCnab" class="gridCadBasic" style="height: 100%;"></div>
                </div>
            </div>
        </div>
        <div class="containerCrud" style="width: 100%; padding-top: 5px;">
            <div class="linha_acoes" style="width: 100%"></div>
            <div style="text-align: center">
                <span id="divIncluirRetCnab">
                    <input type="button" id="incluirRetCnab" title="incluir" /></span>
                <span id="divAlterarRetCnab" style="display: none;">
                    <input type="button" id="alterarRetCnab" title="Alterar" /></span>
                <span id="divExcluirRetCnab" style="display: none;">
                    <input type="button" id="deleteRetCnab" title="Excluir" /></span>
                <span id="divClearRetCnab">
                    <input type="button" id="limparRetCnab" title="Limpar" /></span>
                <span id="divCancelarRetCnab" style="display: none;">
                    <input type="button" id="cancelarRetCnab" title="Cancelar" /></span>
                <span id="divFecharRetCnab">
                    <input type="button" id="fecharRetCnab" title="Fechar" /></span>
            </div>
            <div class="linha_acoes" style="width: 100%"></div>
        </div>
    </div>
</div>

<div id="cadTituloRetornoCnab" data-dojo-type="dijit/Dialog" class="Dialogo" style="max-width: 760px;" title="Retorno Cnab">
    <div class="corpo_interno" style="max-width: 98%; height: 100%; max-height: 90%">
          <div class="apresentadorMsg" id="apresentadorMensagemTituloRetornoCnab" style="display: none;"></div>
        <form data-dojo-type="dojox/form/Manager" id="formTituloRetornoCnab" enctype="multipart/form-data" class="Formulario">
            <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Dados do Titulo'" id="tgRegTituloCnab" open="true">
                <table>
                    <tr>
                        <td class="tdRight" style="width: 17%;">
                            <label for="pessoaTituloCnabReg">Pessoa:</label></td>
                        <td class="dojoTextBoxIECorrect" colspan="3" style="width: 83%;">
                            <input type="text" id="pessoaTituloCnabReg" name="pessoaTituloCnabReg" style="width: 100%;" data-dojo-type="dijit/form/TextBox" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdRight" style="width: 17%;">
                            <label for="responsavelTituloCnabReg">Responsável:</label></td>
                        <td class="dojoTextBoxIECorrect nowrap" colspan="3">
                            <input type="text" id="responsavelTituloCnabReg" name="responsavelTituloCnabReg" style="width: 100%;" data-dojo-type="dijit/form/TextBox" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdRight" style="width: 17%;">
                            <label for="numTituloCnab">Número:</label></td>
                        <td class="nowrap" style="width: 35%;">
                            <table style="width: 100%;">
                                <tr>
                                    <td class="dojoTextBoxIECorrect" style="width: 60%">
                                        <input type="text" id="numTituloCnab" name="numTituloCnab" style="width: 100%;" data-dojo-type="dijit/form/NumberTextBox" disabled="disabled" />
                                    </td>
                                    <td class="tdRight" style="width: 20%;">
                                        <label for="nrParcelaTituloCnabReg">Parcela:</label></td>
                                    <td style="width: 10%;" class="dojoTextBoxIECorrect nowrap">
                                        <input type="text" id="nrParcelaTituloCnabReg" name="nrParcelaTituloCnabReg" style="width: 100%;" data-dojo-type="dijit/form/NumberTextBox" disabled="disabled" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="tdRight" style="width: 13%;">
                            <label for="codigoTituloCnabReg">Seu Número:</label></td>
                        <td style="width: 35%;" class="dojoTextBoxIECorrect nowrap">
                            <input type="text" id="codigoTituloCnabReg" name="codigoTituloCnabReg" style="width: 100%;" data-dojo-type="dijit/form/TextBox" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdRight nowrap" style="width: 17%;">
                            <label for="dtaEmissaoTituloCnabReg">Emissão:</label>
                        </td>
                        <td class="dojoTextBoxIECorrect" style="width: 35%;">
                            <input type="text" id="dtaEmissaoTituloCnabReg" name="dtaEmissaoTituloCnabReg" style="width: 100%;" data-dojo-type="dijit.form.DateTextBox" disabled="disabled" />
                        </td>
                        <td class="tdRight nowrap" style="width: 13%;">
                            <label for="dtaVencTituloCnabReg">Vencimento:</label>
                        </td>
                        <td class="dojoTextBoxIECorrect" style="width: 35%;">
                            <input type="text" id="dtaVencTituloCnabReg" name="dtaVencTituloCnabReg" style="width: 100%;" data-dojo-type="dijit.form.DateTextBox" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdRight" style="width: 17%;">
                            <label>Local Movimento:</label></td>
                        <td style="width: 35%;" class="dojoTextBoxIECorrect nowrap">
                            <input type="text" id="localMvtoTituloEdit" name="localMvtoTituloEdit" style="width: 100%;" data-dojo-type="dijit/form/TextBox" disabled="disabled" />
                        </td>
                        <td class="tdRight" style="width: 13%;">
                            <label for="statusTituloCanbReg">Status Cnab:</label></td>
                        <td class="dojoTextBoxIECorrect nowrap" style="width: 40%;">
                            <input type="text" id="statusTituloCanbReg" name="statusTituloCanbReg" style="width: 100%;" data-dojo-type="dijit/form/TextBox"  disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdRight" style="width: 17%;">
                            <label for="nossoNroTituloCnabReg">Nosso Número:</label></td>
                        <td style="width: 35%;" class="dojoTextBoxIECorrect nowrap">
                            <input type="text" id="nossoNroTituloCnabReg" name="nossoNroTituloCnabReg" style="width: 100%;" data-dojo-type="dijit/form/TextBox" disabled="disabled" />
                        </td>
                        <td class="tdRight" style="width: 13%;">
                            <label for="vlTituloCnabReg">Valor:</label></td>
                        <td style="width: 35%;" class="dojoTextBoxIECorrect nowrap">
                            <input type="text" id="vlTituloCnabReg" name="vlTituloCnabReg" data-dojo-type="dijit/form/NumberTextBox" style="width: 100%;" disabled="disabled" />
                        </td>
                    </tr>
                </table>
            </div>
            <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Retorno Cnab'" id="tgTituloCnab" open="true">
                <table>
                    <tr>
                        <td class="tdRight" style="width: 15%;">
                            <label for="tipoRetorno">Tipo de Retorno:</label></td>
                        <td style="width: 37%;" class="dojoTextBoxIECorrect nowrap">
                            <input type="text" id="tipoRetorno" name="tipoRetorno" style="width: 100%;" data-dojo-type="dijit/form/TextBox" disabled="disabled" />
                        </td>
                        <td class="tdRight nowrap" style="width: 11%;">
                            <label for="dataTipo">Data do Tipo:</label></td>
                        <td style="width: 37%;" class="dojoTextBoxIECorrect nowrap">
                            <input type="text" id="dataTipo" name="dataTipo" style="width: 100%;" data-dojo-type="dijit/form/TextBox" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdRight" style="width: 15%;">
                            <label for="vlBaixa">Valor Baixa:</label></td>
                        <td class="dojoTextBoxIECorrect nowrap" style="width: 37%;">
                            <input type="text" id="vlBaixa" name="vlBaixa" style="width: 100%;" 
                                data-dojo-type="dijit/form/NumberTextBox" 
                                 data-dojo-props="smallDelta:1, constraints:{min:0, pattern:'##.00'}"
                                 onkeypress="mascaraFloat(document.getElementById('vlBaixa'));"
                                 disabled="disabled" />
                        </td>

                        <td class="tdRight" style="width: 17%;">
                            <label for="nossoNroTituloCnabReg">Nosso Número:</label></td>
                        <td style="width: 35%;" class="dojoTextBoxIECorrect nowrap">
                            <input type="text" id="nossoNroTituloCnabDet" name="nossoNroTituloCnabDet" style="width: 100%;" data-dojo-type="dijit/form/TextBox" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdRight" style="width: 15%;">
                            <label>Multa:</label></td>
                        <td style="width: 37%;" class="dojoTextBoxIECorrect nowrap">
                            <input type="text" id="edMulta" name="edMulta" style="width: 100%;" 
                                 data-dojo-type="dijit/form/NumberTextBox" 
                                 data-dojo-props="smallDelta:1, constraints:{min:0, pattern:'##.00'}"
                                 onkeypress="mascaraFloat(document.getElementById('edMulta'));"
                                 disabled="disabled" />
                        </td>

                        <td class="tdRight" style="width: 11%;">
                            <label for="jurosTituloCnabDet">Juros:</label></td>
                        <td style="width: 75%;" class="dojoTextBoxIECorrect nowrap">
                            <input type="text" id="jurosTituloCnabDet" name="jurosTituloCnabDet" 
                                data-dojo-type="dijit/form/NumberTextBox" 
                                data-dojo-props="smallDelta:1, constraints:{min:0, pattern:'##.00'}"
                                onkeypress="mascaraFloat(document.getElementById('jurosTituloCnabDet'));"
                                style="width: 100%;" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdRight" style="width: 11%;">
                            <label for="descTituloCnabDet">Desconto:</label></td>
                        <td style="width: 37%;" class="dojoTextBoxIECorrect nowrap">
                            <input type="text" id="descTituloCnabDet" name="descTituloCnabDet"
                                 data-dojo-type="dijit/form/NumberTextBox"
                                data-dojo-props="smallDelta:1, constraints:{min:0, pattern:'##.00'}"
                                onkeypress="mascaraFloat(document.getElementById('descTituloCnabDet'));"
                                style="width: 100%;" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdRight" style="width: 15%;">
                            <label for="DescObsTituloCnabDet">Observação:</label></td>
                        <td colspan="3">
                            <textarea id="descObsTituloCnabDet" name="DescObsTituloCnabDet" data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="100" style="width: 100%;"></textarea>
                        </td>
                    </tr>
                </table>
                <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Despesas'" id="tgDespesa" open="false">
					<div data-dojo-type="dijit/layout/ContentPane" style="width: 100%; height: 120px; padding-left: 0px; padding-top: 00px;">
						<div id="gridDespesa" style="height: 120px;"></div>
					</div>
			    </div>
            </div>
        </form>
        <div class="containerCrud" style="width: 100%; padding-top: 5px;">
            <div class="linha_acoes" style="width: 100%"></div>
            <div style="text-align: center">
                <span id="divFecharTituloCnabDet">
                    <input type="button" id="fecharRetCnabDet" title="Fechar" /></span>
            </div>
            <div class="linha_acoes" style="width: 100%"></div>
        </div>
    </div>
</div>

<div id="proTituloFK" data-dojo-type="dijit/Dialog" title="Pesquisa de Titulos" style="display: none; width: 750px; height: 655px;">
    <div style="height: 655px; width: 735px">
        @Html.Partial("../Financeiro/TituloFK")
    </div>
</div>

<div id="proPessoa" data-dojo-type="dijit.Dialog" title="Pesquisar Pessoa" style="display: none; width: 800px; height: 590px;">
   <div style="height:590px;width:780px">
        @Html.Partial("../Pessoa/PessoaFK")
    </div>
</div>

<div id="proTurmaFK" data-dojo-type="dijit.Dialog" title="Pesquisar Turma" style="display: none; width: 800px; height: 590px;">
    <input id="apresentadorMensagemFks" type="hidden">
    <div class="apresentadorMsg" id="apresentadorMensagemTurmaFK" style="display: none;"></div>
    <div style="width: 785px; height: 590px;">
        @Html.Partial("../Coordenacao/TurmaFK")
    </div>
</div>

<div id="proAluno" data-dojo-type="dijit.Dialog" title="Pesquisar Aluno" style="display: none; width: 700px; height: 590px;">
    <div style="width: 685px;height: 590px;">
        @Html.Partial("../Secretaria/AlunoFK")
    </div>
</div>
<div id="cadBaixaTitulo" data-dojo-type="dijit.Dialog" title="Pesquisar Tipos de Desconto" style="display: none; width: 700px; height: 590px;">
    <div style="width: 685px; height: 590px;">
        @Html.Partial("../Financeiro/CadBaixaTituloPartial")
    </div>
</div>