@{
	ViewBag.Title = "Relatório Aulas Reposição On-Line";
	Layout = "~/Views/Shared/_layout.cshtml";
}

@section scripts {

	@Scripts.Render("~/bundles/reportAulaReposicao")
	
	@Scripts.Render("~/bundles/turmaFK")
	@Scripts.Render("~/bundles/alunoFK")
	@Scripts.Render("~/bundles/pessoaRelFK")
    <script src="~/Scripts/formatDate.js"></script>
    <script src="~/Scripts/jquery.maskedinput-1.3.js"></script>
}

@section scriptsBody{
	<script type="text/javascript">
	   
		document.getElementById("labelTitulos").innerHTML = "Aulas de Reposicao On-Line";

		//**** Requerires para a Tabulação ****\\
		require([
				"dojo",
				"dijit/form/NumberTextBox",
				"dijit/form/ValidationTextBox",
				"dijit/form/FilteringSelect",
				"dijit/form/TimeTextBox",
				"dojo/data/ObjectStore",
				"dijit/form/DateTextBox",
				"dijit/Dialog",
				"dojo/parser"
		]);
		montarMetodosRelatorioAulaReposicao();
	</script>
}
<div class="apresentadorMensagem" id="apresentadorMensagem" style="display:none;"></div>
<script type="text/javascript">
	showCarregando();
</script>
<div>
	<div class="EspacoCaixa caixaPesquisa">
		<table class="Table">
			<tr>
				<td style="width: 95%;">
					<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Filtros'" id="panePesqGeral" open="true">
						<table class="Table">
							<tr>
								<td class="tdRight nowrap" style="width: 5%;">
									<label for="edTurma" >Turma:</label>
								</td>
								<td class="dojoTextBoxIECorrect" style="width: 35%;">
									<input type="hidden" id="cdTurma" value="0" />
									<input id="edTurma" name="edTurma" style="width: 100%;" data-dojo-type="dijit/form/ValidationTextBox" disabled="disabled" />
								</td>
								<td style="width: 5%; text-align: left" class="nowrap">
									<input id="pesTurma" style="min-width: 18px" style="width: 100%;" />
									<input type="text" id="limparTurma" />
								</td>
								<td class="tdRight nowrap" style="width: 5%;">
									<label for="edAluno" name="labelProf">Aluno:</label>
								</td>
								<td class="dojoTextBoxIECorrect" style="width: 35%;">
									<input type="hidden" id="cdAluno" value="0" />
									<input id="edAluno" name="edAluno" style="width: 100%;" data-dojo-type="dijit/form/ValidationTextBox" disabled="disabled" />
								</td>
								<td style="width: 5%; text-align: left" class="nowrap">
									<input id="pesAluno" style="min-width: 18px" style="width: 100%;" />
									<input type="text" id="limparAluno" />
								</td>
							</tr>
							<tr>
								<td class="tdRight nowrap" style="width: 5%;">
									<label for="edProf" name="labelProf">Professor:</label>
								</td>
								<td class="dojoTextBoxIECorrect" style="width: 30%;">
									<select id="cbResponsavel" data-dojo-type="dijit/form/FilteringSelect" required="false" style="width: 100%;" ></select>
								</td>
                                <td></td>
								<td class="tdRight" style="width: 5%;">
									<label>Participou:</label>
								</td>
								<td>
									<table>
										<tr>
											<td class="dojoTextBoxIECorrect" style="width: 20%;">
												<select id="cb_participacao" name="cbParticipacao" data-dojo-type="dijit/form/FilteringSelect" required="false" style="width: 30%;"></select>
											</td>
											<td class="tdRight" style="width: 5%;">
												<label>Esconder Obs:</label>
											</td>
											<td class="dojoTextBoxIECorrect" style="width: 1%; text-align: left">
												<input type="checkbox" id="ckObs" data-dojo-type="dijit/form/CheckBox" class="Check" style="text-align: left" />
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Período Aula de Reposição'" id="paneDataInicial" open="true">
							<table class="Table">
								<tr>
									<td class="tdRight" style="width: 15%;">
										<label for="nome">Data Inicial:</label>
									</td>
									<td style="width: 35%;" class="dojoTextBoxIECorrect">
										<input type="text" id="dtInicial" name="dtInicial" class="alignDojoData" data-dojo-type="dijit.form.DateTextBox" style="width: 100%;" />
									</td>
									<td class="tdRight" style="width: 15%;">
										<label for="nome">Data Final:</label>
									</td>
									<td style="width: 35%;" class="dojoTextBoxIECorrect">
										<input type="text" id="dtFinal" name="dtFinal" class="alignDojoData" data-dojo-type="dijit.form.DateTextBox" style="width: 100%;" />
									</td>
								</tr>
							</table>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div style="padding-top: 10px">
	<div class="linha_acoes" style="width: 100%"></div>
	<table style="width: 100%" class="Alinhamento">
		<tr style="width: 100%">
			<td style="text-align: center; width: 50%">
				<input type="button" id="relatorioAulaReposicao" title="Relatório" />
			</td>
		</tr>
	</table>
	<div class="linha_acoes" style="width: 100%"></div>
</div>

<div id="proTurmaFK" data-dojo-type="dijit.Dialog" title="Pesquisar Turma" style="display: none; width: 800px; height: 590px;">
    <input id="apresentadorMensagemFks" type="hidden">
    <div class="apresentadorMsg" id="apresentadorMensagemTurmaFK" style="display: none;"></div>
	<div style="width: 785px; height: 590px;">
		@Html.Partial("../Coordenacao/TurmaFK")
	</div>
</div>
<div id="proPessoaRel" data-dojo-type="dijit.Dialog" title="Pesquisar Professor" style="display: none; width: 800px; height: 590px;">
	<div style="width: 785px; height: 590px;">
		@Html.Partial("../Pessoa/ProfessorFK")
	</div>
</div>
<div id="proAluno" data-dojo-type="dijit.Dialog" title="Pesquisar Aluno" style="display: none; width: 700px; height: 590px;">
	<div style="width: 685px; height: 590px;">
		@Html.Partial("../Secretaria/AlunoFK")
	</div>
</div>

