@{
    ViewBag.Title = "Relatório Programação das Aulas das Turmas";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section scriptsBody{
    @Scripts.Render("~/bundles/reportProgramacaoAulasTurma")
    @Scripts.Render("~/bundles/turmaFK")
    @Scripts.Render("~/bundles/alunoFK")
    <script src="~/Scripts/jquery.maskedinput-1.3.js"></script>
    <script type="text/javascript">
        document.getElementById("labelTitulos").innerHTML = "Programação das Aulas das Turmas";

        require([
                "dojo",
                "dijit/form/NumberTextBox",
                "dijit/form/ValidationTextBox",
                "dijit/form/FilteringSelect",
                "dijit/form/TimeTextBox",
                "dojo/data/ObjectStore",
                "dijit/form/DateTextBox",
                "dijit/Dialog"
        ]);
        montarMetodosRelatorioProgramacaoAulasTurma();
    </script>
}

<div class="apresentadorMensagem" id="apresentadorMensagem" style="display: none;"></div>
<script type="text/javascript">
    showCarregando();
</script>

<div>
    <div class="EspacoCaixa caixaPesquisa">
        <table class="Table">
            <tr>
                <td>
                    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Filtros'" id="panePesqGeral" open="true">
                        <table class="Table">
                            <tr>
                                <td class="tdRight nowrap" style="width: 20%;">
                                    <label for="noTurmaPesq">Turma:</label>
                                </td>
                                <td style="width: 80%;">
                                    <input id="cd_turma" type="hidden" />
                                    <table class="Table" style="width: 70%">
                                        <tr>
                                            <td class="dojoTextBoxIECorrect" style="width: 95%;">
                                                <input id="noTurmaPesq" name="noTurmaPesq" size="125" style="width: 100%;" required="true" data-dojo-type="dijit/form/ValidationTextBox" disabled="disabled" />
                                            </td>
                                            <td style="width: 5%; text-align: left" class="nowrap">
                                                <input id="pesProTurma" style="min-width: 18px" />
                                                <input type="text" id="limparProTurma" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Mostrar Detalhes'" id="paMostrarDetalhes" open="true" style="padding-top: 10px;">
                            <table class="Table">
                                <tr>
                                    <td class="tdRight nowrap" style="width: 10%;">
                                        <label for="cKMaisTurmaPagina">Mostrar turma a cada página:</label>
                                    </td>
                                    <td class="dojoTextBoxIECorrect" style="width: 10%;">
                                        <input type="checkbox" id="cKUmaTurmaPagina" data-dojo-type="dijit/form/CheckBox" class="Check" required="false" />
                                    </td>
                                    <td class="tdRight nowrap" style="width: 10%;">
                                        <label for="cKMostrarFerias">Mostrar Férias/Feriado:</label>
                                    </td>
                                    <td class="dojoTextBoxIECorrect" style="width: 10%;">
                                        <input type="checkbox" id="cKMostrarFerias" data-dojo-type="dijit/form/CheckBox" class="Check" required="false" />
                                    </td>
                                    <td class="tdRight nowrap" style="width: 60%;"></td>
                                </tr>
                            </table>
                        </div>
                        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Período da Data Inicial'" id="paneDataInicial" open="true">
                            <form name="formRelatorioProgAulasTurma" id="formRelatorioProgAulasTurma" data-dojo-type="dojox/form/Manager" style="width: 100%">
                                <table class="Table">
                                    <tr>
                                        <td class="tdRight" style="width: 15%;">
                                            <label for="nome">Data Inicial:</label>
                                        </td>
                                        <td style="width: 35%;" class="dojoTextBoxIECorrect">
                                            <input type="text" id="dtInicial" name="dtInicial" class="alignDojoData" onkeypress="mascaraDataHora(event, this)" data-dojo-type="dijit.form.DateTextBox" style="width: 100%;" />
                                        </td>
                                        <td class="tdRight" style="width: 15%;">
                                            <label for="nome">Data Final:</label>
                                        </td>
                                        <td style="width: 35%;" class="dojoTextBoxIECorrect">
                                            <input type="text" id="dtFinal" name="dtFinal" class="alignDojoData" onkeypress="mascaraDataHora(event, this)" data-dojo-type="dijit.form.DateTextBox" style="width: 100%;" />
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="padding-top: 10px">
    <div class="linha_acoes" style="width: 100%"></div>
    <table style="width: 100%" class="Alinhamento">
        <tr style="width: 100%">
            <td style="text-align: center; width: 50%">
                <input type="button" id="relatorio" title="Relatório" />
            </td>
        </tr>
    </table>
    <div class="linha_acoes" style="width: 100%"></div>
</div>

<div id="proTurmaFK" data-dojo-type="dijit.Dialog" title="Pesquisar Turma" style="display: none; width: 800px; height: 600px;">
    <input id="apresentadorMensagemFks" type="hidden">
    <div class="apresentadorMsg" id="apresentadorMensagemTurmaFK" style="display: none;"></div>
    <div style="width: 785px; height: 590px;">
        @Html.Partial("../Coordenacao/TurmaFK")
    </div>
</div>

<div id="proAluno" data-dojo-type="dijit.Dialog" title="Pesquisar Aluno" style="display: none; width: 700px; height: 590px;">
    <div style="width: 685px;height: 590px;">
        @Html.Partial("../Secretaria/AlunoFK")
    </div>
</div>